<tr data-entity-id="{{ entity.id }}">
    {% for field in entity.field_values %}
    <td data-field-name="{{ field.name }}">{% if field.is_empty %}&mdash;{% else %}{% include "shared/atoms/field_display.html" %}{% endif %}</td>
    {% endfor %}
    <td>
        <a href="{{ url_prefix }}/{{ schema.url_name }}/entities/{{ entity.id }}">View</a>
        <a href="{{ url_prefix }}/{{ schema.url_name }}/entities/{{ entity.id }}/edit">Edit</a>
        <button
            hx-delete="{{ url_prefix }}/{{ schema.url_name }}/entities/{{ entity.id }}"
            hx-confirm="Delete this entity?"
            hx-target="closest tr"
            hx-swap="delete"
        >Delete</button>
    </td>
</tr>
