{# Grid item: icon initial + title + description + corner arrow link (in bordered container).
   Generic variables: item_title, item_initials, item_url, item_id,
     item_value, item_value_unit, item_subtitle, item_description.
   Entity mode: when `entity` is in scope, renders first summary field as description.
   Stats mode: when `item_value` is set, shows big number above title. #}
{% if item_url %}
<a href="{{ item_url }}" class="sf-grid-actions-item sf-grid-bordered-item group"{% if item_id %} id="sf-entity-{{ item_id }}"{% endif %}>
{% else %}
<div class="sf-grid-actions-item sf-grid-bordered-item"{% if item_id %} id="sf-entity-{{ item_id }}"{% endif %}>
{% endif %}
    <div class="sf-grid-actions-body">
        {% set badge_style = "circle" %}
        {% set badge_size = "md" %}
        {% set initials = item_initials %}
        {% include "shared/atoms/initial_badge.html" %}
        <div class="sf-grid-actions-content sf-stat-grid-content">
            {% if item_value %}
            <p class="sf-grid-item-value">{{ item_value }}{% if item_value_unit %} <span class="sf-grid-item-unit">{{ item_value_unit }}</span>{% endif %}</p>
            {% endif %}
            <h3 class="sf-grid-actions-title">{{ item_title }}</h3>
            {% if entity %}
                {% for field in entity.summary %}{% if loop.first %}
                <p class="sf-grid-actions-description">{{ field.value }}</p>
                {% endif %}{% endfor %}
            {% elif item_description %}
                <p class="sf-grid-actions-description">{{ item_description }}</p>
            {% elif item_subtitle %}
                <p class="sf-grid-actions-description">{{ item_subtitle }}</p>
            {% endif %}
        </div>
    </div>
    {% if item_url %}
    {% include "shared/atoms/grid_action_arrow.html" %}
    {% endif %}
{% if item_url %}
</a>
{% else %}
</div>
{% endif %}
