{# Grid item: large image (aspect 10:7) or initial badge + title + detail below.
   Generic variables: item_title, item_initials, item_url, item_id, item_image_url,
     item_subtitle, item_show_actions, item_schema_url.
   Entity mode: when `entity` is in scope, scans entity.field_values for image widget. #}
<div class="sf-grid-gallery-item"{% if item_id %} id="sf-entity-{{ item_id }}"{% endif %}>
    <a href="{{ item_url | default(value='#') }}" class="sf-grid-gallery-image">
        {% set has_image = false %}
        {% if entity %}
            {% for field in entity.field_values %}
            {% if field.widget_type == "image" and not has_image %}
            {% set has_image = true %}
            <img src="{{ field.raw_value }}" alt="{{ item_title }}" class="sf-grid-gallery-img" loading="lazy" />
            {% endif %}
            {% endfor %}
        {% elif item_image_url %}
            {% set has_image = true %}
            <img src="{{ item_image_url }}" alt="{{ item_title }}" class="sf-grid-gallery-img" loading="lazy" />
        {% endif %}
        {% if not has_image %}
        {% set badge_style = "square" %}
        {% set badge_size = "xl" %}
        {% set initials = item_initials %}
        {% include "shared/atoms/initial_badge.html" %}
        {% endif %}
    </a>
    <div class="sf-grid-gallery-info">
        {% if item_url %}<a href="{{ item_url }}" class="sf-link sf-grid-gallery-name">{{ item_title }}</a>
        {% else %}<span class="sf-grid-gallery-name">{{ item_title }}</span>{% endif %}
        {% if entity %}
            {% for field in entity.summary %}{% if loop.first %}
            <p class="sf-grid-gallery-detail">{% include "cloud/atoms/field_display.html" %}</p>
            {% endif %}{% endfor %}
        {% elif item_subtitle %}
            <p class="sf-grid-gallery-detail">{{ item_subtitle }}</p>
        {% endif %}
    </div>
</div>
