<nav data-sf="pagination">
    <span>Showing {{ pagination.offset + 1 }}&ndash;{{ pagination.end_showing }} of {{ pagination.total_count }}</span>
    {% if pagination.has_previous %}
    <a href="#"
       hx-get="{{ url_prefix }}/{{ schema.url_name }}/entities/_table?limit={{ pagination.limit }}&offset={{ pagination.previous_offset }}"
       hx-target="#entity-table"
       hx-swap="innerHTML"
    >Previous</a>
    {% endif %}
    {% if pagination.has_next %}
    <a href="#"
       hx-get="{{ url_prefix }}/{{ schema.url_name }}/entities/_table?limit={{ pagination.limit }}&offset={{ pagination.next_offset }}"
       hx-target="#entity-table"
       hx-swap="innerHTML"
    >Next</a>
    {% endif %}
</nav>
