<div class="px-4 py-5 sm:p-6">
    <dt class="text-base font-normal text-gray-100">{{ stat.label }}</dt>
    <dd class="mt-1 flex items-baseline justify-between md:block lg:flex">
        <div class="flex items-baseline text-2xl font-semibold text-indigo-400">
            {{ stat.value }}
            {% if stat.previous_value %}<span class="ml-2 text-sm font-medium text-gray-400">from {{ stat.previous_value }}</span>{% endif %}
        </div>
        {% include "shared/atoms/stat_trend_badge.html" %}
    </dd>
</div>
