{% extends "cloud/base.html" %} {% block title %}Dashboard - {{ app_title }}{%
endblock %} {% block content %} {% if heading_style ==
"with_actions_and_breadcrumbs" %} {% include
"shared/organisms/heading_with_actions_and_breadcrumbs.html" %} {% elif
heading_style == "card_with_avatar_and_stats" %} {% include
"shared/organisms/heading_card_with_avatar_and_stats.html" %} {% elif
heading_style == "with_avatar_and_actions" %} {% include
"shared/organisms/heading_with_avatar_and_actions.html" %} {% elif heading_style
== "with_banner_image" %} {% include
"shared/organisms/heading_with_banner_image.html" %} {% elif heading_style ==
"with_filters_and_actions" %} {% include
"shared/organisms/heading_with_filters_and_actions.html" %} {% elif
heading_style == "with_logo_meta_and_actions" %} {% include
"shared/organisms/heading_with_logo_meta_and_actions.html" %} {% elif
heading_style == "with_meta_actions_and_breadcrumbs" %} {% include
"shared/organisms/heading_with_meta_actions_and_breadcrumbs.html" %} {% elif
heading_style == "with_meta_and_actions" %} {% include
"shared/organisms/heading_with_meta_and_actions.html" %} {% else %}
<div class="md:flex md:items-center md:justify-between">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl/7 font-bold text-white sm:truncate sm:text-3xl sm:tracking-tight">Dashboard</h2>
  </div>
</div>
{% endif %} {% include "shared/organisms/stats_section.html" %} {% endblock %}
