{% extends "cloud/base.html" %}

{% block title %}{{ entity.display_value }} - {{ schema.name }} - {{ app_title }}{% endblock %}

{% block content %}
{% if heading_style == "with_actions_and_breadcrumbs" %}
    {% include "shared/organisms/heading_with_actions_and_breadcrumbs.html" %}
{% elif heading_style == "card_with_avatar_and_stats" %}
    {% include "shared/organisms/heading_card_with_avatar_and_stats.html" %}
{% elif heading_style == "with_avatar_and_actions" %}
    {% include "shared/organisms/heading_with_avatar_and_actions.html" %}
{% elif heading_style == "with_banner_image" %}
    {% include "shared/organisms/heading_with_banner_image.html" %}
{% elif heading_style == "with_filters_and_actions" %}
    {% include "shared/organisms/heading_with_filters_and_actions.html" %}
{% elif heading_style == "with_logo_meta_and_actions" %}
    {% include "shared/organisms/heading_with_logo_meta_and_actions.html" %}
{% elif heading_style == "with_meta_actions_and_breadcrumbs" %}
    {% include "shared/organisms/heading_with_meta_actions_and_breadcrumbs.html" %}
{% elif heading_style == "with_meta_and_actions" %}
    {% include "shared/organisms/heading_with_meta_and_actions.html" %}
{% else %}
    {% include "shared/organisms/heading_with_actions.html" %}
{% endif %}
<div class="sf-detail" data-detail-style="{{ detail_style }}">
    <div class="sf-detail-fields">
        {% for field in entity.field_values %}
        <div class="sf-detail-field">
            <div class="sf-detail-label">{{ field.label }}</div>
            <div class="sf-detail-value">{% if field.is_empty %}<span style="opacity: 0.4">-</span>{% else %}{% include "cloud/atoms/field_display.html" %}{% endif %}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
