{% extends "cloud/base.html" %}

{% block title %}{% if entity_id %}Edit{% else %}New{% endif %} {{ schema.name }} - {{ app_title }}{% endblock %}

{% block content %}
{% if heading_style == "with_actions_and_breadcrumbs" %}
    {% include "shared/organisms/heading_with_actions_and_breadcrumbs.html" %}
{% elif heading_style == "card_with_avatar_and_stats" %}
    {% include "shared/organisms/heading_card_with_avatar_and_stats.html" %}
{% elif heading_style == "with_avatar_and_actions" %}
    {% include "shared/organisms/heading_with_avatar_and_actions.html" %}
{% elif heading_style == "with_banner_image" %}
    {% include "shared/organisms/heading_with_banner_image.html" %}
{% elif heading_style == "with_filters_and_actions" %}
    {% include "shared/organisms/heading_with_filters_and_actions.html" %}
{% elif heading_style == "with_logo_meta_and_actions" %}
    {% include "shared/organisms/heading_with_logo_meta_and_actions.html" %}
{% elif heading_style == "with_meta_actions_and_breadcrumbs" %}
    {% include "shared/organisms/heading_with_meta_actions_and_breadcrumbs.html" %}
{% elif heading_style == "with_meta_and_actions" %}
    {% include "shared/organisms/heading_with_meta_and_actions.html" %}
{% else %}
    {% include "shared/organisms/heading_with_actions.html" %}
{% endif %}
{% if errors %}
<div class="sf-alert sf-alert-error">
    <ul>
    {% for error in errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}
<div class="sf-detail">
    <form class="sf-form"
        {% if entity_id %}
        method="post" action="/app/{{ schema.url_name }}/entities/{{ entity_id }}"
        hx-put="/app/{{ schema.url_name }}/entities/{{ entity_id }}"
        {% else %}
        method="post" action="/app/{{ schema.url_name }}/entities"
        hx-post="/app/{{ schema.url_name }}/entities"
        {% endif %}
        hx-target="closest .sf-detail"
        hx-swap="outerHTML"
    >
        {% for field in fields %}
        {% include "cloud/atoms/field_input.html" %}
        {% endfor %}
        <div>
            <button type="submit" class="sf-btn sf-btn-primary">
                {% if entity_id %}Update{% else %}Create{% endif %}
            </button>
            <a href="/app/{{ schema.url_name }}/entities" class="sf-btn sf-btn-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
