<div class="sf-form-group">
    <label class="sf-form-label" for="field-{{ field.name }}">
        {{ field.label }}{% if field.required %} *{% endif %}
    </label>
    {% if field.input_type == "text" %}
    <input type="text" id="field-{{ field.name }}" name="{{ field.name }}" class="sf-form-input"
        {% if field.current_value %}value="{{ field.current_value }}"{% elif field.default_value %}value="{{ field.default_value }}"{% endif %}
        {% for kv in field.attrs %}{{ kv.0 }}="{{ kv.1 }}" {% endfor %}
        {% if field.required %}required{% endif %}>
    {% elif field.input_type == "textarea" %}
    <textarea id="field-{{ field.name }}" name="{{ field.name }}" class="sf-form-input sf-form-textarea"
        {% for kv in field.attrs %}{{ kv.0 }}="{{ kv.1 }}" {% endfor %}
        {% if field.required %}required{% endif %}>{% if field.current_value %}{{ field.current_value }}{% elif field.default_value %}{{ field.default_value }}{% endif %}</textarea>
    {% elif field.input_type == "number" %}
    <input type="number" id="field-{{ field.name }}" name="{{ field.name }}" class="sf-form-input"
        {% if field.current_value %}value="{{ field.current_value }}"{% elif field.default_value %}value="{{ field.default_value }}"{% endif %}
        {% for kv in field.attrs %}{{ kv.0 }}="{{ kv.1 }}" {% endfor %}
        {% if field.required %}required{% endif %}>
    {% elif field.input_type == "checkbox" %}
    <input type="hidden" name="{{ field.name }}" value="false">
    <input type="checkbox" id="field-{{ field.name }}" name="{{ field.name }}" value="true" class="sf-form-checkbox"
        {% if field.current_value %}{% if field.current_value == "true" %}checked{% endif %}{% elif field.default_value %}{% if field.default_value == "true" %}checked{% endif %}{% endif %}>
    {% elif field.input_type == "datetime-local" %}
    <input type="datetime-local" id="field-{{ field.name }}" name="{{ field.name }}" class="sf-form-input"
        {% if field.current_value %}value="{{ field.current_value }}"{% endif %}
        {% if field.required %}required{% endif %}>
    {% elif field.input_type == "select" %}
    {% if field.relation_target %}
    <select id="field-{{ field.name }}" name="{{ field.name }}" class="sf-form-input sf-form-select"
        {% if field.multiple %}multiple{% endif %}
        hx-get="/app/{{ field.relation_target }}/relation-options/{{ field.name }}"
        hx-trigger="load"
        hx-swap="innerHTML"
        {% if field.required %}required{% endif %}>
        <option>Loading...</option>
    </select>
    {% else %}
    <select id="field-{{ field.name }}" name="{{ field.name }}" class="sf-form-input sf-form-select"
        {% if field.multiple %}multiple{% endif %}
        {% if field.required %}required{% endif %}>
        <option value="">-- Select --</option>
        {% for opt in field.options %}
        <option value="{{ opt.0 }}"{% if field.current_value %}{% if field.current_value == opt.0 %} selected{% endif %}{% endif %}>{{ opt.1 }}</option>
        {% endfor %}
    </select>
    {% endif %}
    {% elif field.input_type == "json" %}
    <textarea id="field-{{ field.name }}" name="{{ field.name }}" class="sf-form-input sf-form-textarea" style="font-family: monospace;"
        {% for kv in field.attrs %}{{ kv.0 }}="{{ kv.1 }}" {% endfor %}
        {% if field.required %}required{% endif %}>{% if field.current_value %}{{ field.current_value }}{% endif %}</textarea>
    {% elif field.input_type == "composite" %}
    {% include "cloud/atoms/composite.html" %}
    {% elif field.input_type == "array" %}
    <textarea id="field-{{ field.name }}" name="{{ field.name }}" class="sf-form-input sf-form-textarea"
        placeholder="One value per line"
        {% if field.required %}required{% endif %}>{% if field.current_value %}{{ field.current_value }}{% endif %}</textarea>
    {% else %}
    <input type="text" id="field-{{ field.name }}" name="{{ field.name }}" class="sf-form-input"
        {% if field.current_value %}value="{{ field.current_value }}"{% elif field.default_value %}value="{{ field.default_value }}"{% endif %}
        {% if field.required %}required{% endif %}>
    {% endif %}
</div>
