{# Grid Link: minimal clickable cards with small initial circle + name + subtitle.
   Variables: schema (SchemaView), entities (Vec<EntityView>) #}
<div class="sf-entity-list" data-list-style="grid_link">
    {% for entity in entities %}
    {% set item_title = entity.display_value %}
    {% set item_initials = entity.display_value | truncate(length=2, end="") | upper %}
    {% set item_url = "/app/" ~ schema.url_name ~ "/entities/" ~ entity.id %}
    {% set item_id = entity.id %}
    {% include "shared/molecules/grid_item_link.html" %}
    {% endfor %}
</div>
