{# Grid Badge: horizontal cards with colored initial strip left + title/subtitle/actions right.
   Variables: schema (SchemaView), entities (Vec<EntityView>), card_style (str) #}
<div class="sf-entity-list" data-list-style="grid_badge">
    {% for entity in entities %}
    {% set item_title = entity.display_value %}
    {% set item_initials = entity.display_value | truncate(length=2, end="") | upper %}
    {% set item_url = "/app/" ~ schema.url_name ~ "/entities/" ~ entity.id %}
    {% set item_id = entity.id %}
    {% set item_schema_url = schema.url_name %}
    {% set item_show_actions = true %}
    {% include "shared/molecules/grid_item_badge.html" %}
    {% endfor %}
</div>
