{% if stats %}
{% if stats_style == "cards" %}
    {% include "shared/organisms/stats_cards.html" %}
{% elif stats_style == "with_icons" %}
    {% include "shared/organisms/stats_with_icons.html" %}
{% elif stats_style == "shared_borders" %}
    {% include "shared/organisms/stats_shared_borders.html" %}
{% elif stats_style == "trending" %}
    {% include "shared/organisms/stats_trending.html" %}
{% elif stats_style == "grid_actions" %}
    {% include "shared/organisms/stats_grid_actions.html" %}
{% elif stats_style == "grid_badge" %}
    {% include "shared/organisms/stats_grid_badge.html" %}
{% else %}
    {% include "shared/organisms/stats_simple.html" %}
{% endif %}
{% endif %}
