{% if field.input_type == "text" %}
{% include "atoms/text_input.html" %}
{% elif field.input_type == "textarea" %}
{% include "atoms/textarea.html" %}
{% elif field.input_type == "number" %}
{% include "atoms/number_input.html" %}
{% elif field.input_type == "checkbox" %}
{% include "atoms/checkbox.html" %}
{% elif field.input_type == "datetime-local" %}
{% include "atoms/datetime_input.html" %}
{% elif field.input_type == "select" %}
{% include "atoms/select.html" %}
{% elif field.input_type == "json" %}
{% include "atoms/json_editor.html" %}
{% elif field.input_type == "composite" %}
{% include "atoms/composite.html" %}
{% elif field.input_type == "array" %}
{% include "atoms/array_input.html" %}
{% else %}
{% include "atoms/fallback_input.html" %}
{% endif %}
