{% if current_user %}
<el-dropdown class="relative">
  <button class="relative flex items-center">
    <span class="absolute -inset-1.5"></span>
    <span class="sr-only">Open user menu</span>
    <span class="flex size-8 items-center justify-center rounded-full bg-white/10 text-sm font-medium text-white">{{ current_user.display_name[:1] | upper }}</span>
    <span class="hidden lg:flex lg:items-center">
      <span aria-hidden="true" class="ml-4 text-sm/6 font-semibold text-white">{{ current_user.display_name }}</span>
      <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="ml-2 size-5 text-gray-500"><path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" /></svg>
    </span>
  </button>
  <el-menu anchor="bottom end" popover class="w-32 origin-top-right rounded-md bg-gray-800 py-2 outline -outline-offset-1 outline-white/10 transition transition-discrete [--anchor-gap:--spacing(2.5)] data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
      <form method="post" action="/app/logout">
        <button type="submit" class="block w-full text-left px-3 py-1 text-sm/6 text-white hover:bg-white/5 focus:bg-white/5 focus:outline-hidden">Sign out</button>
      </form>
  </el-menu>
</el-dropdown>
{% endif %}