<fieldset data-sf="fieldset">
    <legend>{{ field.label }}{% if field.required %} *{% endif %}</legend>
    {% for child in field.children %}
    <div data-sf="field" data-field-name="{{ field.name }}.{{ child.name }}" data-input-type="composite">
        <label for="{{ field.name }}.{{ child.name }}">{{ child.label }}</label>
        <input type="text" id="{{ field.name }}.{{ child.name }}" name="{{ field.name }}.{{ child.name }}"
            {% if child.current_value %}value="{{ child.current_value }}"{% endif %}
        >
    </div>
    {% endfor %}
</fieldset>
