<div data-sf="field" data-field-name="{{ field.name }}" data-input-type="text">
    <label for="field-{{ field.name }}">{{ field.label }}{% if field.required %} *{% endif %}</label>
    <input type="text" id="field-{{ field.name }}" name="{{ field.name }}"
        {% if field.current_value %}value="{{ field.current_value }}"{% endif %}
        {% for attr_name, attr_val in field.attrs %}{{ attr_name }}="{{ attr_val }}" {% endfor %}
        {% if field.required %}required{% endif %}
    >
</div>
