<div class="min-h-full">
  <nav class="{% if nav_color_scheme == 'brand' %}bg-indigo-800{% else %}bg-gray-800/50{% endif %}">
    <div class="sf-container-standard">
      {% include "cloud/molecules/shell_stacked_nav_inner.html" %}
    </div>
    <!-- Mobile menu (el-disclosure) -->
    {% include "cloud/molecules/shell_mobile_disclosure.html" %}
  </nav>
  {% include "cloud/molecules/shell_stacked_page_header.html" %}
  <main>
    <div class="sf-container-{{ container_style }} py-10">
{% if container_style == "narrow" %}<div class="sf-container-narrow-inner">{% endif %}